<ion-item class="custom-app-input" lines="none">
  @if (icon) {
    <ion-icon slot="start" [name]="icon" class="input-icon"></ion-icon>
  }

  <ion-input [type]="type" [autocomplete]="autocomplete" [label]="label" [formControl]="control" label-placement="floating" class="input=field"></ion-input>

  @if (isPassword) {
    <ion-button (click)="showOrHide()" slot="end" fill="clear" shape="round" class="password-toggle">
      <ion-icon slot="icon-only" name="hide ? 'eye-off-outline' : 'eye-outline'" class="eye-icon"></ion-icon>
    </ion-button>
  }
</ion-item>